

.username {
    color: 677681;
}

.name {
    font-weight: bold;
}
.date {
    color: #88949C;
}

.inline-block {
    display: inline-block;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 32px;
}