{% load static %}
<html>
    <head>
      <meta charset="uft-8">
      <title>映像クリエイター Kaito Iwashita | Xperia × Camera | Xperia (エクスペリア) スマートフォン | ソニー</title>
      <link rel="stylesheet" href="{% static 'camera/css/kaito.css' %}">
      <script src="{% static 'camera/js/kaito.js' %}"></script>
    </head>
    <body>
        <img src="{% static 'camera/img/hero.jpg' %}" alt="メインビジュアル">
        <h1>映像クリエイター|Kaito Iwashita</h1>
        <p>Xperia 1 Vは忠実に描写できるからこそ、自分の世界観をつくり出せる。</p>

        <p>スペシャルインタビュー</p>
        <p>2023/8/9</p>

        <ul>
          <li><a href="#video">Xperia 1 V撮り下ろし作品「郷夢」</a></li>
          <li><a href="#profile">Kaito Iwashita氏 プロフィール</a></li>
          <li><a href="#int1">実践を繰り返した結果が、自分の作風になっている</a></li>
          <li><a href="#int2">人の心に語りかけ、記憶に重なる映像を作りたい</a></li>
          <li><a href="#int3">Xperia 1 Vは、難しい光環境でも安心してカメラを向けられる</a></li>
          <li><a href="#int4">忠実に描写できるからこそ、自分の世界観をつくり出せる</a></li>
          <li><a href="#point">Xperiaで実践！Kaito Iwashita流、情緒ある映像をつくる3つのポイント</a></li>
        </ul>

        <h2>Kaito Iwashita氏の表現世界</h2>
        <p>映像クリエイターのKaito Iwashita氏が、「今の時間を大切に」をテーマに、Xperia 1 Vで映像作品『郷夢』を制作。</p>
        <a href="vnd.youtube:zOEeEvgHJIc?playerapiid=1V-kaito-special&vq=highres" class="youtube">
          <img src="{% static 'camera/img/pic-movie.jpg' %}" alt="スペシャルムービー">
        </a>
        <h3>Kaito Iwashita氏がXperia 1 Vで撮り下ろした映像作品『郷夢』</h3>

        <dl class="spProfile__content">
          <dt class="spProfile__name"><span>映像クリエイター</span>Kaito Iwashita</dt>
          <dd class="spProfile__image"><img src="{% static 'camera/img/pic-profile.jpg' %}" alt="" loading="lazy"></dd>
          <dd class="spProfile__txt">Instagram、TikTokなどのSNSでショート動画を発信し、エモーショナルな映像でファンを増やしている新進気鋭の映像クリエイター。個人での映像制作を行う一方、映像ユニット「Hakumei」としても活動し、Kaito Iwashita氏が企画・ディレクション・撮影・編集、Jun Hirota氏がプロデュース・撮影・照明を担当、年間26本のミュージックビデオ制作も手がけている。</dd>
        </dl>
    </body>
</html>