<html>
<body>
    <div id="special" class="coi-camera spWrapper">
        <div class="spHeader">
          <a href="/xperia/special/camera/"><img src="/xperia/special/camera/assets/img/title-camera.jpg" alt="Xperia × Camera"></a>
        </div>
        <div class="spContainer">
          <main class="spMain" role="mian">
            <section class="spMainHero">
              <div class="spMainHero_img">
                <img src="img/hero.jpg" alt="">
              </div>
              <div class="spMainHero_content">
                <h1 class="spMainHero_title">映像クリエイター｜Kaito Iwashita</h1>
                <p class="spMainHero_read">Xperia 1 Vは忠実に描写できるからこそ、自分の世界観をつくり出せる。</p>
                <div class="spMainHero_model">
                  <p>Xperia 1 V</p>
                </div>
                <div class="spMainHero_info">
                  <p class="spMainHero_info_tag">スペシャルインタビュー</p>
                  <p class="spMainHero_info_date">2023/8/9</p>
                </div>
              </div>
            </section>
            <section class="spMainToc">
              <p>目次</p>
              <ul>
                <li><a href="#video">Xperia 1 V撮り下ろし作品「郷夢」</a></li>
                <li><a href="#profile">Kaito Iwashita氏 プロフィール</a></li>
                <li><a href="#int1">実践を繰り返した結果が、自分の作風になっている</a></li>
                <li><a href="#int2">人の心に語りかけ、記憶に重なる映像を作りたい</a></li>
                <li><a href="#int3">Xperia 1 Vは、難しい光環境でも安心してカメラを向けられる</a></li>
                <li><a href="#int4">忠実に描写できるからこそ、自分の世界観をつくり出せる</a></li>
                <li><a href="#point">Xperiaで実践！Kaito Iwashita流、情緒ある映像をつくる3つのポイント</a></li>
              </ul>
            </section>
            <section id="video" class="spMovie">
              <h2>Kaito Iwashita氏の表現世界</h2>
              <p>映像クリエイターのKaito Iwashita氏が、「今の時間を大切に」をテーマに、Xperia 1 Vで映像作品『郷夢』を制作。</p>
              <div class="spMovie__content">
                <a href="vnd.youtube:zOEeEvgHJIc?playerapiid=1V-kaito-special&vq=highres" class="youtube">
                  <img src="img/pic-movie.jpg" alt="スペシャルムービー">
                </a>
                <h3>Kaito Iwashita氏がXperia 1 Vで撮り下ろした映像作品『郷夢』</h3>
              </div>
            </section>
            <div id="profile" class="spProfile">
              <dl class="spProfile__content">
                <dt class="spProfile__name"><span>映像クリエイター</span>Kaito Iwashita</dt>
                <dd class="spProfile__image"><img src="img/pic-profile.jpg" alt="" loading="lazy"></dd>
                <dd class="spProfile__txt">Instagram、TikTokなどのSNSでショート動画を発信し、エモーショナルな映像でファンを増やしている新進気鋭の映像クリエイター。個人での映像制作を行う一方、映像ユニット「Hakumei」としても活動し、Kaito Iwashita氏が企画・ディレクション・撮影・編集、Jun Hirota氏がプロデュース・撮影・照明を担当、年間26本のミュージックビデオ制作も手がけている。</dd>
              </dl>
            </div>
            <section class="spInterview">
              <h2 class="spInterview__title">Kaito Iwashita <br>スペシャルインタビュー</h2>
              <p class="spInterview__txt">ロマンチックな世界を描き出し、観る者の心を揺さぶる映像を発表している若手映像クリエイター・Kaito Iwashita氏に、Xperia 1 Vで映像作品を制作していただきました。独特の映像表現が魅力のKaito Iwashita氏は、どのように現在の作風を確立したのか。制作した映像作品への思いや、大切にしているカメラ、映像へのこだわりとともに語っていただきました。</p>
              <div class="spInterview__content">
                <h3 id="int1">『実践を繰り返した結果が、自分の作風になっている』</h3>
                <div class="spInterview__ques">
                  <p>映像作品作りに興味を持ったきっかけを教えてください。</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>趣味でスノーボードをやっていて、6年ほど前にアクションカメラを使い始めたのが動画に興味をもったきっかけでした。はじめは思い出を残すために撮っていましたが、自分で見返すだけでなく、スマホアプリで編集したものを友人と共有しているうちに動画制作にハマって、思い切ってソニーのデジタル一眼カメラ 「α7 III」やドローンを買って本格的に作品作りを始めました。</p>
                  <p>最初の頃はスノーボードの延長で自然の風景や、ノスタルジックな雰囲気の動画を主に撮っていましたが、次第に人物も出てくるVlog撮影にも挑戦して、自己流でスタイルを模索していったのです。</p>
                </div>
                <div class="spInterview__img">
                  <div>
                    <img src="img/pic-interview01.jpg" alt="" loading="lazy">
                  </div>
                </div>
                <div class="spInterview__ques">
                  <p>動画編集のノウハウはどのように身に付けましたか？</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>動画編集は、本や動画サイトを見てゼロから独学で習得しました。最初はどうしても撮りたい映像の具体例が思いつかなかったのですが、ひたすらミュージックビデオを見て、良いと思ったカットを参考にして撮影していきました。そのうちに色々な手法がわかってきて、“自分なりの表現”ができるようになりました。</p>
                </div>
                <div class="spInterview__ques">
                  <p>映像クリエイターとしては、どのように自分のスタイルを確立していきましたか？</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>最初はミュージックビデオ風の作品をInstagramで発表していましたが、それを評価してくれる人が増えてきて、ある時に映像制作の現場に呼んでもらうことができました。そこで企画書や構成案を見させていただいて、プロの現場ではこういう風に作っているというのを学ばせてもらいました。</p>
                  <p>徐々に、アカウントのフォロワー数や動画の視聴回数が増えたことで、作品に自信が持てるようになってきて、本格的に動画制作を仕事にすることに決めました。そうやって、実践を積み重ね、少しずつ学んでいく中で、今のスタイルを確立できたと思っています。</p>
                </div>
                <div class="spInterview__img">
                  <div>
                    <img src="img/pic-interview02.jpg" alt="" loading="lazy">
                  </div>
                </div>
                <h3 id="int2">『人の心に語りかけ、記憶に重なる映像を作りたい』</h3>
                <div class="spInterview__ques">
                  <p>“エモーショナル”な世界観がKaitoさんの作風ですが、どういう思いで作品を制作しているのでしょうか？</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>“エモい”という言葉を深く理解しているわけではありませんが、みんなが感じる懐かしさとか、感情に訴えかけられるような画作りを常々目指しています。映像の質感や雰囲気で、誰かの心や記憶の中で重なる部分に語りかけたいと思っていて、具体的には色味や風景の切り取り方を、意識して撮っています。自分の作品は広角レンズで撮影したものが多いので、その被写体との距離感も“エモさ”に影響しているのかもしれません。</p>
                </div>
                <div class="spInterview__ques">
                  <p>最近はミュージックビデオも多く手がけられていますが、音楽に映像が加わることで、よりメッセージ性が強くなると感じます。</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>自分は最初に音楽を決めてから作品を撮ることが多いのですが、ミュージックビデオ制作の場合は、より曲調や歌詞からイメージを膨らませて構成を考えるようにしています。曲のイメージがより伝わるように、曲のテンポと映像を合わせてみたり、わざとズラしてみたりして、視覚的な速度感も使って“自分らしさ”を出しています。</p>
                </div>
                <div class="spInterview__img">
                  <div>
                    <img src="img/pic-interview03.jpg" alt="" loading="lazy">
                  </div>
                </div>
                <div class="spInterview__ques">
                  <p>撮影後のカラーグレーディングのこだわりについて教えてください。</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>好きな色味を言葉で説明するのは難しいですが、多くの場合は哀愁を感じさせるような、独特の青っぽさをのせて仕上げています。自分の作品は落ち着いたトーンのものが多いので、露出もすこし低めに設定することが多いです。切ない恋心や人生を歌った楽曲のミュージックビデオを依頼されることが多いのは、きっとそういった雰囲気の映像とマッチすると思っていただけているからなのでしょうね。</p>
                </div>
                <h3 id="int3">『Xperia 1 Vは、難しい光環境でも安心してカメラを向けられる』</h3>
                <div class="spInterview__ques">
                  <p>Xperia 1 Vで撮影した作品、「郷夢」のテーマを教えてください。</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>自分たちが今いる環境や近くにいる人たちは当たり前ではなく、いつ無くなってしまうかわからないもの。だから後悔のないように毎日を生きたい……そう思う出来事があり、「今の時間を大切に」という想いを込めました。このテーマを考えた時に頭の中で思い浮かんだ画が、青空と赤い風船と緑の草原だったので、そのイメージに近い草原を探し、長野県の美ヶ原高原に向かいました。</p>
                </div>
                <div class="spInterview__img height">
                  <div>
                    <img src="img/pic-interview04.jpg" alt="" loading="lazy">
                  </div>
                </div>
                <div class="spInterview__ques">
                  <p>風に揺れる風船と女性、そして広大な景色が印象的ですね。</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>風船を大切な人、もしくは何か大切なものを象徴する存在にできればと考え、人物に持たせることにしました。風によってゆらゆら揺れながらも、人物のそばにいた風船が最後には空に飛んでいく。短い映像の中でも何かを伝えられたら嬉しいですね。日が傾いてきた頃に撮影したシーンは、空と風船のコントラストをきれいに撮れたと思います。</p>
                </div>
                <div class="spInterview__ques">
                  <p>Xperia 1 Vだから実現できた表現はありますか？</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>この作品はすべて新世代センサーを搭載した24㎜のレンズで撮影しましたが、目で見た色味と質感を忠実に再現できていることに驚きました。空のグラデーションはとてもスマートフォンのカメラで撮影したとは思えない繊細な表現で撮れていて、ダイナミックレンジの広いXperia 1 Vでなければ表現できなかった世界観だと思います。</p>
                  <p>逆光での白飛び、黒潰れも少なく、空のきめ細かな階調も本当にきれいでした。メインとなる被写体を捉えながら、背景の質感もしっかりと残せていたので、難しい光環境でも安心してカメラを向けることができました。</p>
                </div>
                <div class="spInterview__meaning">
                  <h4>新世代センサー「Exmor T for mobile」</h4>
                  <p>Xperia 1 Vの 広角レンズに搭載された新構造のセンサー。前モデル比で約1.7倍<sup>＊1</sup>に大判化した新開発の2層トランジスタ画素積層型CMOSイメージセンサーで、より多くの光を取り込め、高感度・低ノイズな撮影を実現しています。<br>また、最新の画像処理技術との組み合わせで、フルサイズセンサーを搭載したデジタルカメラ並み<sup>＊2</sup>の撮影を可能にしています。</p>
                  <ol>
                    <li>＊1　Xperia 1 IVの広角レンズに搭載されているイメージセンサーとの対比。</li>
                    <li>＊2　LV（Light Value）2以下の照度環境における静止画の耐ノイズ性能およびダイナミックレンジにおいて。<br>ソニー製のフルサイズセンサー搭載デジタルカメラとの比較。</li>
                  </ol>
                </div>
                <div class="spInterview__img">
                  <div>
                    <img src="img/pic-interview05.jpg" alt="" loading="lazy">
                  </div>
                </div>
                <div class="spInterview__ques">
                  <p>人物を撮影するうえで、意識した点を教えてください。</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>人を撮る時はコミュニケーションを一番大事にしています。撮影中は被写体に話しかけながら撮ることもありますし、事前にどういった表情が欲しいのか、しっかり伝えることで引き出せる場合もあります。Xperia 1 Vは撮影機材としてとても小さいので、撮られる側が身構えることなくリラックスして撮影できるのも大きなメリットですね。この距離感で撮影できたのはスマートフォンならではで、被写体の自然な動きに繋がったのだと思います。</p>
                </div>
                <div class="spInterview__ques">
                  <p>本モデルから搭載された新機能「S-Cinetone for mobile（エスシネトーン フォー モバイル）」はいかがでしょうか？</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>すべてのカットを「S-Cinetone for mobile」で撮影していて、それにより肌のトーンが自然な感じに再現されていました。普段であれば、カラーグレーディングで人物の肌の見え方の調整をしていますが、今回はほとんど変えていません。最終的に画面全体を自分の好きな青っぽい色味に調整しましたが、その相性も良いですね。</p>
                </div>
                <div class="spInterview__meaning">
                  <h4>S-Cinetone for mobile（エスシネトーン フォー モバイル）</h4>
                  <p>S-Cinetoneとは、ソニーのデジタルシネマカメラ「VENICE」の開発で培われた技術を生かして作られたピクチャープロファイルのこと。人の肌を描写する際に使われる中間色の表現力に優れ、色合いはよりソフトに、ハイライトの描写は被写体を美しく際立たせる自然なトーンを持つルックです。そのS-Cinetoneをスマートフォン向けに調整し、Xperia 1 Vに搭載しました。</p>
                </div>
                <h3 id="int4">『忠実に描写できるからこそ、自分の世界観をつくり出せる』</h3>
                <div class="spInterview__ques">
                  <p>デジタル一眼カメラ「α<sup>TM</sup>（アルファ）シリーズ」のような多彩なカメラ機能を搭載したXperia 1 Vですが、「α」ユーザーとして使い勝手はいかがでしたか？</p>
                </div>
                <div class="spInterview__ans">
                  <p><b>Kaito Iwashita：</b>一番良いと感じたのは、ソニーのノウハウが凝縮された動画撮影機能「Videography Pro」です。標準のカメラアプリでは設定できない細かな点を調整できるのは、映像作りにこだわるユーザーには嬉しいと思います。</p>
                </div>
                <div class="spInterview__img">
                  <div>
                    <img src="img/pic-interview06.jpg" alt="" loading="lazy">
                  </div>
                </div>
                <div class="spInterview__ans">
                  <p>また、一眼カメラと同じように動画でもシャッタースピードを固定できるのも良いです。自分はシャッタースピードを1/100秒や1/50秒に設定して、人間の目に合わせた自然な見た目の動画になるように撮影することが多く、今回の動画もそうやって撮影しているので、風船の動きに注目してみてください。</p>
                  <p>そもそも自分が映像作品を作る際に「αシリーズ」を選んだのは、見た目に忠実な色表現をしているからなのですが、Xperia 1 Vにもしっかりとソニーのカラーフィロソフィーが生かされていると思いました。カメラの前に広がる景色を忠実に描写できるからこそ、映像として編集した際に自分の世界観をつくり出せる。そういう意味では、クリエイターの方にもおすすめです。</p>
                </div>
                <div class="spInterview__img">
                  <div>
                    <img src="img/pic-interview07.jpg" alt="" loading="lazy">
                  </div>
                </div>
              </div>
            </section>
            <div class="spBanner">
              <a href="/xperia/xperia/xperia1m5/">
                <img src="img/bnr-xperia1m5.jpg" alt="Xperia 1 V 新世代センサー搭載の最新Xperia 製品情報はこちら" loading="lazy">
              </a>
            </div>
            <section id="point" class="spPoint">
              <h2><span>Kaito Iwashita流 <br>Xperia活用術</span></h2>
              <h3>情緒ある映像をつくる<span>3つのポイント</span></h3>
              <div class="spPoint__content">
                <dl class="spPoint__item">
                  <dt class="spPoint__title">
                    <img src="img/ic-point1.png" alt="ポイント1" loading="lazy">
                    <h4><span>手持ち撮影でリアリティを演出する。</span></h4>
                  </dt>
                  <dd class="spPoint__image"><img src="img/pic-point01.jpg" alt="" loading="lazy"></dd>
                  <dd class="spPoint__txt">手ブレをしないように三脚などで固定して撮る方法もありますが、画面に動きを作るというのも立派な効果なので、作品作りの中に取り入れてしまうのもアリです。自分も、手持ちで撮影することで自然に画面が細かく揺れるという映像表現を使っています。リラックスして気軽に撮るとリアリティを感じる仕上がりになるので、情緒的な映像をつくりたい方は試してみてください。<br>ちなみに、Videography ProでStabilizationの設定をStandardにすると、手持ちの良さが表現できる適度な手ブレ感を出すことができます。画面の動き、そして寄り画と引き画のバリエーションを組み合わせれば、場面に躍動感が出せると思います。
                  </dd>
                  <dd class="spPoint__screen">
                    <h4>Stabilization</h4>
                    <img src="img/pic-point01_2.jpg" alt="" loading="lazy">
                    <small>※Videography ProのStabilization設定画面</small>
                    <p><a href="/xperia/myxperia/howtoxperia/camera/function44.html">Videography Proの設定についてはこちら</a></p>
                  </dd>
                </dl>
                <dl class="spPoint__item">
                  <dt class="spPoint__title">
                    <img src="img/ic-point2.png" alt="ポイント2" loading="lazy">
                    <h4><span>構図に囚われ過ぎず、シーンの中に異なる視点を入れてみる。</span></h4>
                  </dt>
                  <dd class="spPoint__image">
                    <img src="img/pic-point02.jpg" alt="" loading="lazy">
                  </dd>
                  <dd class="spPoint__txt">構図は動画を撮るうえで必ず考えなければなりませんが、構図ばかりを意識してしまうと不自然に作られた画になってしまいます。ある程度の構図は意識しつつ、同じシチュエーションでも視点を変えていくつか撮ってみることをおすすめします。被写体がボケていたり、フレームアウトしたりするようなカットも、ときには動画全体のテンポを変えるために役立つことがあります。<br>Xperia 1 Vはマニュアルフォーカスが使えるので、あえて焦点をずらしたり、ピンボケしていたりする映像を意図的に撮影することができます。そういうカットを挟んでいくことで、より日常感に近いシーンを作ることができるので、いわゆる“エモさ”を表現するには良いでしょう。</dd>
                </dl>
                <dl class="spPoint__item">
                  <dt class="spPoint__title">
                    <img src="img/ic-point3.png" alt="ポイント3" loading="lazy">
                    <h4><span>自然な色味をもとに、自分なりに感情を表現する色をのせる。</span></h4>
                  </dt>
                  <dd class="spPoint__image"><img src="img/pic-point03.jpg" alt="" loading="lazy"></dd>
                  <dd class="spPoint__txt">映像作品を作るうえで自分が一番大事にしているのは、やはり色味です。例えば、楽しいシーンと悲しいシーンがある場合、場面の色味に変化を付けることでもそれを表現することができます。特に哀愁の漂う映像に仕上げたいときには、色味を黄色っぽくしたり、逆に青っぽくしたりして調整しますが、自分は青系に仕上げるのが好きです。Xperiaは自然の色の再現性を追求しているので、編集の際に色を調整しやすいというのも特徴です。クリエイティブルックと合わせるなどして、自分なりの色味表現を楽しんでみましょう。
                    <div class="spInterview__meaning">
                      <h4>クリエイティブルック</h4>
                      <p>クリエイティブルックは画作りのための機能で、Xperia 1 Vには6種類のルックがプリセットされています。表現テーマやシーンに合わせて「FL」「VV」などのルックを選ぶだけで、イメージに合わせた画作りが簡単に行え、撮影段階で写真や映像の質感や色味を思い通りの雰囲気に仕上げることができます。</p>
                    </div>
                  </dd>
                </dl>
              </div>
            </section>
            <div class="spBanner">
              <a href="/xperia/xperia/xperia1m5/">
                <img src="img/bnr-xperia1m5.jpg" alt="Xperia 1 V 新世代センサー搭載の最新Xperia 製品情報はこちら" loading="lazy">
              </a>
            </div>
            <section class="spMainSns">
              <ul>
                <li><a href="javascript:window.open('https://twitter.com/intent/tweet?url='+encodeURI(location.href.replace(/\?aic=xlapp/,''))+'&text='+encodeURI(document.title),'twitterwindow','width=600,height=400');void(0);" class="spMainSns-x"><img src="/xperia/special/shared/img/ic-x.png" alt="X（エックス）（旧：Twitter）でShare（シェア）"></a></li>
                <li><a href="javascript:window.open('https://www.facebook.com/share.php?u='+encodeURI(location.href.replace(/\?aic=xlapp/,'')),'facebookwindow','width=600,height=400');void(0);" class="spMainSns-fb"><img src="/xperia/special/shared/img/ic-facebook.png" alt="Facebook（フェイスブック）でShare（シェア）"></a></li>
              </ul>
            </section>
    
              <section class="spFooterCat">
                <div class="spFooterCat_link">
                  <a href="/xperia/special/camera/list.html">記事一覧へ</a>
                </div>
                <div class="spFooterCat_nav">
                  <h3>カテゴリー</h3>
                  <ul>
                    <li>
                      <a href="/xperia/special/camera/list.html#all">ALL</a>
                    </li>
                    <li>
                      <a href="/xperia/special/camera/list.html#gallery">ギャラリー</a>
                    </li>
                    <li>
                      <a href="/xperia/special/camera/list.html#interview">スペシャルインタビュー</a>
                    </li>
                    <li>
                      <a href="/xperia/special/camera/list.html#technology">Xperiaのカメラ技術</a>
                    </li>
                    <li>
                      <a href="/xperia/special/camera/list.html#event">イベント/セミナー</a>
                    </li>
                    <li>
                      <a href="/xperia/special/camera/list.html#others">その他</a>
                    </li>
                  </ul>
                </div>
              </section>
    
          </main>
          <aside class="spSide" role="complementary">
            <div class="spSidePickup">
              <h2>おすすめ記事</h2>
              <div class="spSidePickup_list">
                <ul>
                  <li class="js-pickup-camera">
                    <a href="/xperia/special/camera/kaito/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/camera/assets/img/pic-interview-kaito.jpg" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">映像クリエイター｜Kaito Iwashita</h3>
                      <p class="spSidePickup_item_txt">Xperia 1 Vは忠実に描写できるからこそ、自分の世界観をつくり出せる。</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">スペシャルインタビュー</p>
                        <p class="spSidePickup_info_date">2023/8/9</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-camera">
                    <a href="/xperia/special/camera/inagaki2023/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/camera/assets/img/pic-interview-inagaki2023.jpg" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">フォトグラファー｜イナガキヤスト</h3>
                      <p class="spSidePickup_item_txt">満天の星粒や山に残る雪の美しさまでも鮮明に切り取る。Xperia 1 Vの感動クオリティ。</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">スペシャルインタビュー</p>
                        <p class="spSidePickup_info_date">2023/8/2</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-camera">
                    <a href="/xperia/special/camera/gallery/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/camera/assets/img/pic-gallery-camera.jpg?v6" alt="Xperia Gallery 世界のすべてが作品になる">
                      </div>
                      <h3 class="spSidePickup_item_ttl">Xperia Gallery</h3>
                      <p class="spSidePickup_item_txt">クリエイターがXperiaで撮影した珠玉の作品集</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 5 V</p><p>Xperia 1 V</p><p>Xperia 5 IV</p><p>Xperia 1 IV</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">ギャラリー</p>
                        <p class="spSidePickup_info_date">2023/10/30</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-camera">
                    <a href="/xperia/special/camera/technology/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/camera/assets/img/pic-technology-camera.jpg?v2" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">デジタル一眼カメラαの技術を注ぎ込み表現力を追求したカメラ</h3>
                      <p class="spSidePickup_item_txt">ソニーのカメラテクノロジーを結集し、クリエイティブな撮影を思いのままに楽しめます。</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 5 V</p><p>Xperia 1 V</p><p>Xperia 1 IV</p><p>Xperia PRO-I</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">Xperiaのカメラ技術</p>
                        <p class="spSidePickup_info_date">2023/9/1</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-camera">
                    <a href="/xperia/special/camera/products_camera/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/camera/assets/img/pic-interview-products_camera.jpg" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">『Xperia 1 V』開発者インタビュー【カメラ編】</h3>
                      <p class="spSidePickup_item_txt">新世代センサーによる圧倒的な表現力<br>『Xperia 1 V』がもたらす多彩な撮影体験</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">スペシャルインタビュー</p>
                        <p class="spSidePickup_info_date">2023/7/19</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-camera">
                    <a href="/xperia/special/camera/xperia-adobe/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/camera/assets/img/pic-event-xperia-adobe.jpg" alt="Xperia x Adobe プロクリエイターに学創作術">
                      </div>
                      <h3 class="spSidePickup_item_ttl">Xperia x Adobe</h3>
                      <p class="spSidePickup_item_txt">プロクリエイターに学ぶ創作術</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p><p>Xperia 5 IV</p><p>Xperia 1 IV</p><p>Xperia PRO-I</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">イベント/セミナー</p>
                        <p class="spSidePickup_info_date">2023/8/9</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-game">
                    <a href="/xperia/special/game/tgs2023/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/game/assets/img/pic-event-tgs2023.jpg" alt="Xperia™ × TOKYO GAME SHOW 2023">
                      </div>
                      <h3 class="spSidePickup_item_ttl">Xperiaが東京ゲームショウ2023に出展</h3>
                      <p class="spSidePickup_item_txt">Xperiaとゲームの魅力を体験いただける4日間。ご来場をお待ちしています。</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p><p>Gaming Gear Xperia Stream for Xperia 1 IV</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">イベント</p>
                        <p class="spSidePickup_info_date">2023/9/6</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-game">
                    <a href="/xperia/special/game/technology/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/game/assets/img/pic-technology-game.jpg?v2" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">“勝ち”にこだわった多彩な機能でさらなる強さを。</h3>
                      <p class="spSidePickup_item_txt">高パフォーマンスと充実のアシスト機能でゲームプレイヤー、ストリーマーの理想のゲーム体験を叶えます。</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 5 V</p><p>Xperia 1 V</p><p>Xperia 1 IV</p><p>Xperia 5 IV</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">多彩なゲーム機能</p>
                        <p class="spSidePickup_info_date">2023/9/1</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-game">
                    <a href="/xperia/special/game/precor/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/game/assets/img/pic-review-precor.jpg" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">プリコ｜ゲームストリーマー</h3>
                      <p class="spSidePickup_item_txt">Xperia 1 IVが進化を発揮するXperia Streamの高機能性<br>プリコ氏スペシャルインタビュー</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 IV</p><p>Gaming Gear Xperia Stream for Xperia 1 IV</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">レビュー</p>
                        <p class="spSidePickup_info_date">2022/11/29</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-game">
                    <a href="/xperia/special/game/koike/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/game/assets/img/pic-review-koike.jpg" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">Japanese小池｜eスポーツプレイヤー</h3>
                      <p class="spSidePickup_item_txt">ゲーミングスマートフォンとしてのXperia 1 IIIの魅力とは？<br>Japanese小池氏スペシャルインタビュー</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 III</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">レビュー</p>
                        <p class="spSidePickup_info_date">2021/11/22</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-contents">
                    <a href="/xperia/special/sound/wf-1000xm5/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/sound/assets/img/pic-enjoy-wf-1000xm5.jpg?v2" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">Xperia 1 V × MISIA</h3>
                      <p class="spSidePickup_item_txt">特設サイトにMISIAのインタビュー記事を公開！</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">スペシャルインタビュー</p>
                        <p class="spSidePickup_info_date">2023/10/31</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-contents">
                    <a href="/xperia/special/sound/technology/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/sound/assets/img/pic-technology-audio.jpg?v2" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">エンターテインメントを楽しみ尽くすスマートフォン</h3>
                      <p class="spSidePickup_item_txt">ソニーのエンターテインメントにおけるノウハウを生かし、映画鑑賞や音楽鑑賞における上質な体験をお届けします。</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 5 V</p><p>Xperia 1 V</p><p>Xperia 1 IV</p><p>Xperia 5 IV</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">Xperiaのオーディオ技術</p>
                        <p class="spSidePickup_info_date">2023/9/1</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-contents">
                    <a href="/xperia/special/sound/minimaltheater/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/sound/assets/img/pic-enjoy-minimaltheater.jpg" alt="Xperiaでつくる THE ミニマルシアター 4K HDR OLED DISPLAY Xperia 1 V">
                      </div>
                      <h3 class="spSidePickup_item_ttl">Xperiaでつくる THE ミニマルシアター</h3>
                      <p class="spSidePickup_item_txt">4Kの6.5インチから映し出される美しい映像は、ミニマルシアターでもっと楽しくなる。</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">音楽をもっと楽しむ</p>
                        <p class="spSidePickup_info_date">2023/7/6</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-contents">
                    <a href="/xperia/special/sound/minimaltheater/toba/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/sound/assets/img/pic-interview-toba.jpg" alt="ガジェットラバー トバログインタビュー 置くだけで立体音響が生まれる。好きな場所、好きなスタイルで">
                      </div>
                      <h3 class="spSidePickup_item_ttl">ガジェットラバー　トバログ氏スペシャルインタビュー</h3>
                      <p class="spSidePickup_item_txt">ガジェットラバー トバログ氏が「THE ミニマルシアター」を自宅で体験</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">スペシャルインタビュー</p>
                        <p class="spSidePickup_info_date">2023/7/6</p>
                      </div>
                    </a>
                  </li>
                  <li class="js-pickup-contents">
                    <a href="/xperia/special/sound/products_sound/" class="spSidePickup_item">
                      <div class="spSidePickup_item_img">
                        <img src="/xperia/special/sound/assets/img/pic-interview-products_sound.jpg" alt="">
                      </div>
                      <h3 class="spSidePickup_item_ttl">『Xperia 1 V』開発者インタビュー【オーディオ・ビジュアル編】</h3>
                      <p class="spSidePickup_item_txt">ソニーの技術力で実現した圧巻の臨場感<br>『Xperia 1 V』がもたらす感動のエンターテインメント体験</p>
                      <div class="spSidePickup_item_model">
                        <p>Xperia 1 V</p>
                      </div>
                      <div class="spSidePickup_item_info">
                        <p class="spSidePickup_info_tag">スペシャルインタビュー</p>
                        <p class="spSidePickup_info_date">2023/7/27</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="spSideCoiBnr">
              <ul>
                <li>
                  <a href="/xperia/special/camera/">
                    <img src="/xperia/special/shared/img/bnr-side-xperiaxcamera.jpg" alt="Xperia × Camera その一瞬を想いのままに、革新のカメラシステム">
                  </a>
                </li>
                <li>
                  <a href="/xperia/special/game/">
                    <img src="/xperia/special/shared/img/bnr-side-xperiaxgame.jpg" alt="Xperia × Game プレイヤーの理想に応えるゲーム体験">
                  </a>
                </li>
                <li>
                  <a href="/xperia/special/sound/">
                    <img src="/xperia/special/shared/img/bnr-side-xperiaxcontents.jpg" alt="Xperia × Audio / Visual エンタメを楽しみつくすソニー独自の音楽・映像技術">
                  </a>
                </li>
              </ul>
            </div>
            <div class="spSideSns">
              <ul>
                <li>
                  <a href="https://www.youtube.com/user/sonyxperiajp" target="_blank">
                    <img src="/xperia/special/shared/img/ic-side-youtube.png" alt="YouTube">
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/xperia_japan" target="_blank">
                    <img src="/xperia/special/shared/img/ic-side-x.png" alt="X（旧：Twitter）">
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/xperia.jpn/" target="_blank">
                    <img src="/xperia/special/shared/img/ic-side-facebook.png" alt="Facebook">
                  </a>
                </li>
              </ul>
            </div>
            <div class="spSideBlankBnr">
              <ul>
                <li class="js-blankBnr-camera">
                  <a href="/ichigan/a-universe/">
                    <img src="/xperia/special/shared/img/bnr-side-a-universe.jpg" alt="さあ、見たことのない世界へ。α Universe">
                  </a>
                </li>
                <li class="js-blankBnr-game">
                  <a href="/xperia/product/accessories/xperia_stream/">
                    <img src="/xperia/special/shared/img/bnr-side-gaminggear.jpg?v2" alt="Xperiaで限界を超えていけ Gaming Gear Xperia Stream">
                  </a>
                </li>
                <li class="js-blankBnr-contents">
                  <a href="https://www.sony.jp/headphone/lovemusic/">
                    <img src="/xperia/special/shared/img/bnr-side-lovemusic.jpg?v3" alt="Love Music 音楽と、ソニーの音の魅力を届ける場所。">
                  </a>
                </li>
              </ul>
            </div>
            <div class="spSideProduct">
              <h3>製品情報</h3>
              <ul>
                <li>
                  <a href="/xperia/xperia/xperia5m5/">
                    <img src="/xperia/special/shared/img/pic-xperia5m5.jpg" alt="">
                    <p>Xperia 5 V</p>
                  </a>
                </li>
                <li>
                  <a href="/xperia/xperia/xperia1m5/">
                    <img src="/xperia/special/shared/img/pic-xperia1m5.jpg" alt="">
                    <p>Xperia 1 V</p>
                  </a>
                </li>
                <li>
                  <a href="/xperia/xperia/xperia10m5/">
                    <img src="/xperia/special/shared/img/pic-xperia10m5.jpg" alt="">
                    <p>Xperia 10 V</p>
                  </a>
                </li>
                <li>
                  <a href="/xperia/xperia/xperia5m4/">
                    <img src="/xperia/special/shared/img/pic-xperia5m4.jpg" alt="">
                    <p>Xperia 5 IV</p>
                  </a>
                </li>
                <li>
                  <a href="/xperia/xperia/acem3/">
                    <img src="/xperia/special/shared/img/pic-xperiaacem3.jpg" alt="">
                    <p>Xperia Ace III</p>
                  </a>
                </li>
                <li>
                  <a href="/xperia/xperia/xperiapro-i/">
                    <img src="/xperia/special/shared/img/pic-xperiaproi.jpg" alt="">
                    <p>Xperia PRO-I</p>
                  </a>
                </li>
              </ul>
            </div>
</body>
</html>